.container {
 max-width: 120rem;
 margin: 8rem auto;
 background-color: var(--color-grey-light-1);
 box-shadow: var(--shadow-dark);

 min-height: 50rem; //for testing purpose
 @media only screen and (max-width: $bp-largest) {
  margin: 0;
  max-width: 100%;
  width: 100%;
 }
}
.header {
 height: 7rem;
 background-color: #fff;
 border-bottom: var(--line);
 font-size: 1.4rem;

 display: flex;
 align-items: center;
 justify-content: space-between;
}
.content {
 display: flex;

 @media only screen and (max-width: $bp-medium) {
  flex-direction: column;
 }
}
.sidebar {
 background-color: var(--color-grey-dark-1);

 flex: 0 0 18%;

 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.hotel-view {
 background-color: #fff;
 
 flex-grow: 1;
} 

.detail {
 font-size: 1.4rem;
 display: flex;
 padding: 4.5rem;
 background-color: var(--color-grey-light-1);
 border-bottom: var(--line);

 @media only screen and (max-width: $bp-medium) {
  padding: 3rem;
 }
}
.description {
 padding: 3rem;
 flex: 0 0 60%;
 margin-right: 4.5rem;
 background-color: #fff;
 box-shadow: var(--shadow-light);

 @media only screen and (max-width: $bp-medium) {
  padding: 2rem;
  margin-right: 3rem;
 }
}
.user-review  {
 flex: 1;

 display: flex;
 flex-direction: column;
 align-items: center;
}